.login-container{
    max-width: 400px; 
    margin: 60px auto 0;
  }
  
  .error{
    color: tomato; 
    font-size: 12px; 
    padding-top: 4px
  }

  .btn{
     width: 100%;
     margin-top: 10px;
     margin-bottom: 10px;
  }
  .login{
    background-color: #2b64aa;
    border: aliceblue;
  }